{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Demande de carte Pripeo">
    <meta name="author" content="Le Studio Pigalle">
    <title>Pripeo | Demande de carte Pripeo</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="{% static 'myapp/assets/images/brands/favicon-pripeo.png' %}" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'account/newcard/images/PRIPEO-(png).png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="{% static 'account/newcard/images/PRIPEO-(png).png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="{% static 'account/newcard/images/PRIPEO-(png).png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="{% static 'account/newcard/images/PRIPEO-(png).png' %}">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="{% static 'account/newcard/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'account/newcard/css/vendors.css' %}" rel="stylesheet">
    <link href="{% static 'account/newcard/css/style.css' %}" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="{% static 'account/newcard/css/custom.css' %}" rel="stylesheet">
</head>

<body>


	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div><!-- /Preload -->

	<div class="container-fluid">
	    <div class="row row-height">
	        <div class="col-lg-6 background-image p-0" style="background-image: url({% static 'myapp/assets/images/brands/login-bg.jpg' %}" >
	            <div class="content-left-wrapper opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.6)">
	                <a href="#0" id="logo"><img src="{% static 'account/newcard/images/PRIPEO-light.png' %}" alt="" width="150" height="50"></a>
	                <div id="social">
	                    <ul>
	                        <li><a href="#0"><i class="social_facebook"></i></a></li>
	                        <li><a href="#0"><i class="social_twitter"></i></a></li>
	                        <li><a href="#0"><i class="social_instagram"></i></a></li>
	                    </ul>
	                </div>
	                <!-- /social -->
	                <div class="text-start">
	                	<small>PRIPEO</small>
	                    <h1>Connectez-vous à votre compte PRIPEO.</h1>
	                </div>
	            </div>
	        </div>
	        <div class="col-lg-6 d-flex flex-column content-right" id="right">
	            <div class="container my-auto py-5">
	                <div class="row">
	                    <div class="col-lg-9 col-xl-7 mx-auto">

                            <form class="input_style_2" method="post" enctype="multipart/form-data" >
								{% csrf_token %}

                                <div class="form-group">
									<h6 class="mb-3">Connexion :</h6>
                                    <label for="password">Saisissez votre adresse mail</label>
									{{ login_form.email|add_class:"form-control" }}
                                </div>



								<div class="form-group">
                                    <label for="password">Saisissez votre mot de passe</label>
									{{ login_form.password|add_class:"form-control" }}
                                    {% for error in login_form.non_field_errors %}
                                        <p style="color: red";>{{ error }}</p>
                                    {% endfor %}
                                </div>



                                <button type="submit" class="btn_1 full-width">Connexion</button>
	                        </form>
                            <div class="container pb-3 copy mt-5"><a href="{% url 'reset_password' %}">Mot de passe oublié ?</a></div>
                            <div class="container pb-3 copy ">Pas encore de compte ? <a href="{% url 'newcard' %}">Créez en un</a>.</div>
	                    </div>
	                </div>
	            </div>
				<div class="container pb-3 copy">© PRIPEO - <a href="https://pigallestud.io" target="_blank">Made by Le Studio Pigalle</a>.</div>
	        </div>
	    </div>
	    <!-- /row -->
	</div>
	<!-- /container -->

	<!-- Modal terms -->
	<div class="modal fade" id="terms-txt" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="termsLabel">Terms and conditions</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>Lorem ipsum dolor sit amet, in porro albucius qui, in <strong>nec quod novum accumsan</strong>, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
					<p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus. Lorem ipsum dolor sit amet, <strong>in porro albucius qui</strong>, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
					<p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn_1" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->

	<!-- COMMON SCRIPTS -->
    <script src="{% static 'account/newcard/js/common_scripts.js' %}"></script>
	<script src="{% static 'account/newcard/js/common_func.js' %}"></script>



</body>
</html>